<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a class="logo" mat-button [routerLink]="'/'">
            <img src="assets/images/logos/logo-48x48.png">
        </a>
        <h1>Brian Tambara</h1>
        <p>I want to make things that make a difference.</p>
        <span></span>
        <div class="nav-router">
            <a mat-button routerLink="/" routerLinkActive="active-link"> Home </a>
            <a mat-button routerLink="/about" routerLinkActive="active-link"> About </a>
            <a mat-button routerLink="/resume" routerLinkActive="active-link"> Resume </a>
            <a mat-button routerLink="/blog" routerLinkActive="active-link"> Blog </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>