// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

a.logo {
    opacity: 1;
}

a {
    opacity: 0.5;
}

p.main-row {
    margin-left: 1%;
    font-size: small;
    display: none;
    @media (min-width: #{$screen-md-min}) {
        display: block;
    }
}

p.mobile-row {
    margin-left: 1%;
    font-size: small;
    display: block;
    @media (min-width: #{$screen-md-min}) {
        display: none;
    }
}

span {
    margin-right: auto;
}

.active-link {
    opacity: 1;
}

mat-toolbar-row.mobile-row {
    display: block;
    @media (min-width: #{$screen-md-min}) {
        display: none;
    }
}

a.button-link {
    display: none;
    @media (min-width: #{$screen-md-min}) {
        display: inline;
    }
}

button.menu-button-mobile {
    display: block;
    @media (min-width: #{$screen-md-min}) {
        display: none;
    }
}

button.menu-selection {
    opacity: 0.5;
}

button.active-link {
    opacity: 1;
}

::ng-deep .mat-menu-panel {
    padding: 0 10px!important;
    width: 50vw!important;
    align-items: left;
    display: block;
    @media (min-width: #{$screen-md-min}) {
        display: none;
    }
  }