<div class="main">
    <div class="image">
        <img src="/assets/images/brian-icecreammuseum-bw.png">
    </div>

    <mat-card>
        <div class="about">
            <mat-card-title>About me</mat-card-title>
            <mat-card-subtitle>My journey as a software engineer...</mat-card-subtitle>
            <mat-card-content>
                started the day my father gave me my first personal computer.
                It was a Windows machine just good enough to keep a curious teenager wondering
                the possiblities for a short time. It was not long till I wanted to explore and
                build my own my computer. My childhood best friend was also into computers, so
                it was easier to explore this new found universe and it's infinite possiblities.
                We didn't have access to the internet, so magazines fed our curiousity and our
                passion eventually led us to build our own computers. I'll never forget my first
                computer I built, it was the only computer I fried due to not attaching the seperators
                to the case. It was then that I discovered that attention to detail is important and
                I stuck with me throughout my life.
            </mat-card-content>

            <mat-card-subtitle>I was first introduced to programming...</mat-card-subtitle>
            <mat-card-content>
                when I took a media class as an extracurricular in high school.
                We were seperated into groups to film projects and each member had specific
                roles that would change each project. A person may be directing one project,
                but they may be filming in another. This taught us to work in a group
                and effectively communicate our ideas to each other. To effectively communicate
                amoung teammates is essential in delivering a project on time and to meet all
                project requirements.
                <br><br>
                The final project had us compose the film projects on a website we built
                individually using Dreamweaver but were given extra credit if we wrote our
                final project using Notepad and HTML. I enjoy learning new technology, so
                I took this opportunity to learn something new. Learning HTML wasn't the
                difficult part; organzing the buttons, images, and videos into a visual
                appealing website was. Although I was just learning, I quickly understood
                how establishing a structured user interface was key to building
                successful applications.
            </mat-card-content>

            <mat-card-subtitle>I fell in love with programming is...</mat-card-subtitle>
            <mat-card-content>
                when I wrote my first C program at Mount San Antonio Community
                college. Every computer science student knows this program as Hello World.
                Simple; yet complex. It's the complexity and love that drives us engineers 
                to create and explore new technologies. It's recursion at its finest. During my
                undergraduate at California State Polytechnic University, Pomona I was fortunate
                to have taken an AI and Robotics, Computer Security (RSA, AES, and PGP), and
                Java Graphical User Interface (Swing) classes. I graduated in 2011 and started
                to work for Deluxe Entertainment Studios in August of 2011 as a Java Developer.
            </mat-card-content>

            <mat-card-subtitle>The hardest project I've work on...</mat-card-subtitle>
            <mat-card-content>
                was Life of Pi. It was the first project I was in charge of the design.
                There are two people that develop the disc. A muxer and a developer.
                The muxer combines all assets of the disc with my JAR, so it can be checked by
                Quality Control. The project had a interesting requirement. The main
                loop included another loop. That next loop only triggers when the consumer hits
                the extras button on the main menu and not the in feature menu. This was the
                hardest project because it forced me to learn and understand how the Deluxe
                frameworks work. The real struggle with BD-J development are the player issues.
                My JAR might work for one player, but operate differently on another. I would
                need to debug the code to see why it operates differently. Debugging would consist
                of printing the stack trace to a thumbdrive located on the player and comparing it
                to the stack trace of the simulator. I'm still amazed today the amount of work a
                single Blu-ray disc takes. I'm grateful for to have worked for Deluxe Media for 7
                years and always cheerish my team members. B4
            </mat-card-content>

            <mat-card-subtitle>An interesting project I've work on...</mat-card-subtitle>
            <mat-card-content>
                was detecting and modifying the existing color space for a given image. Normally
                we think of RGB values, but there are actually other ways to numerically describe
                a color. For most applications this doesn't matter, but for media entertainment it
                does. I learned how to fine my google searching on this project. I found
                <a href="http://www.ryanjuckett.com/programming/rgb-color-space-conversion/" target="_blank">Ryan
                    Juckett's article</a>
                on color space conversion to be very helpful. It allowed me to write a majority of the code.
                I was able to use my experience with Swing and develop a user friendly interface. 
            </mat-card-content>
        </div>
    </mat-card>
</div>