div.main {
    display: flex;
}

div.image {
    margin: 2%;
}

mat-card {
    margin: 2% 2% 2% 0%;
    width: auto;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}

div.about {
    margin: 1%;
}

mat-card-title {
    font-size: xx-large;
}

mat-card-subtitle {
    font-size: x-large;
}

mat-card-content {
    font-size: medium;
}
