<div class="resume-intro">
    <div class="intro-profile">
        <mat-card class="card-intro">
            <img src='/assets/images/brian-circle-bw-200x215.png'>
            <mat-card-title class="card-intro-title">Java Software Engineer | Brian Tambara</mat-card-title>
            <mat-card-subtitle class="card-intro-location">Location: Los Angeles, CA 90032</mat-card-subtitle>
            <mat-card-subtitle class="card-intro-email">Email: btambara@gmail.com</mat-card-subtitle>
            <mat-card-content class="card-intro-statement">
                Quality-focused application development professional with a passion for programming. Dedicated to
                writing elegant code
                that is reusable, understandable and easily maintainable. Offer several years’ development life
                cycle
                management
                experience. Leverage technical expertise in numerous programming languages and platforms – including
                [Java, SQL and
                Angular] – to enhance user experiences and deliver disruptive, cutting edge applications.
            </mat-card-content>
        </mat-card>
    </div>

    <div class="intro-profile-items">
        <mat-card class="card-intro-profile">
            <mat-icon class="profile-icon">list</mat-icon>
            <mat-card-title>
                View time consuming processes and system shortfalls as opportunities to innovate
            </mat-card-title>
            <mat-card-content>
                Developed applications to
                automate time consuming tasks, increase operational effectiveness and eliminate errors resulting from
                manual
                intervention.
            </mat-card-content>
        </mat-card>
        <div>
            <mat-card class="card-intro-profile">
                <mat-icon class="profile-icon">settings</mat-icon>
                <mat-card-title>
                    Continuously learn and adapt to rapidly evolving and emerging technologies
                </mat-card-title>
                <mat-card-content>
                    Successfully launched a personal
                    website. Learned Spring Boot, Docker, and Angular to develop a user-friendly and intuitive
                    web-interface.
                </mat-card-content>
            </mat-card>
            <mat-card class="card-intro-profile-last">
                <mat-icon class="profile-icon">work</mat-icon>
                <mat-card-title>
                    Leverage interpersonal savvy to engage clients and rally development teams
                </mat-card-title>
                <mat-card-content>
                    Motivated project team at Deluxe
                    Media to implement last minute requirements and deliver one of 20 th Century Fox’s highest profile
                    projects on schedule.
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>

<div class="resume-end">
    <mat-card class="resume-title-section">
        <mat-card-title>
            Competencies and Technical Skills
        </mat-card-title>
    </mat-card>
    <mat-card class="resume-content-section">
        <mat-card-title>
            Core Competencies
        </mat-card-title>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip>Application Development</mat-chip>
                <mat-chip>Digital / New Media</mat-chip>
                <mat-chip>Team Leadership</mat-chip>
                <mat-chip>User Support / Training</mat-chip>
                <mat-chip>Project
                    Management / SDLC</mat-chip>
                <mat-chip>Testing / Quality Assurance</mat-chip>
                <mat-chip>Requirements Analysis</mat-chip>
                <mat-chip>Framework Development</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-title>
            Programming
        </mat-card-title>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip>Java</mat-chip>
                <mat-chip>Java Swing</mat-chip>
                <mat-chip>React</mat-chip>
                <mat-chip>Angular</mat-chip>
                <mat-chip>MongoDB</mat-chip>
                <mat-chip>SQL</mat-chip>
                <mat-chip>Object Oriented Analysis and Development,</mat-chip>
                <mat-chip>MVC Design
                    Pattern</mat-chip>
                <mat-chip>Singleton Design Pattern</mat-chip>
                <mat-chip>UNIX / Linux Scripting</mat-chip>
                <mat-chip>XML</mat-chip>
                <mat-chip>JDBC</mat-chip>
                <mat-chip>HTML</mat-chip>
                <mat-chip>3rd Party API Integration</mat-chip>
                <mat-chip>Blu-ray Java
                    Development</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-title>
            Operating Systems
        </mat-card-title>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip>Windows</mat-chip>
                <mat-chip>macOS</mat-chip>
                <mat-chip>UNIX</mat-chip>
                <mat-chip>Linux</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-title>
            Additional Applications
        </mat-card-title>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip>Intellji</mat-chip>
                <mat-chip>Docker</mat-chip>
                <mat-chip>Git</mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>


    <mat-card class="resume-title-section">
        <mat-card-title>
            Professional Experience
        </mat-card-title>
    </mat-card>
    <mat-card class="resume-content-section">
        <mat-card-title>
            Deluxe Media | Burbank, California
        </mat-card-title>
        <mat-card-content>
            Java Developer - 2011 to 2018
        </mat-card-content>
        <mat-card-content>
            <p class="job_description">
                Develop and maintain specifications for Blu-ray Disc Java (BD-J) title development. Develop BD-J library
                and
                templates
                to be used for title production. Create and maintain source code. Test and debug applications and create
                test plans for
                title QC processes. Facilitate frequent client meetings to outline project statuses and address shifting
                requirements.
            </p>
        </mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-icon class="list-icon">library_music</mat-icon>
                <p>
                    Managed the project lifecycle for Life of Pi, a high profile title for 20th Century Fox.
                    Developed custom framework for
                    Life of Pi 3D and 2D that seamlessly integrated with Fox’s standard framework.
                </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="list-icon">tag_faces</mat-icon>
                <p>
                    Led design and development of Activision Blizzard framework for the company’s Blu-ray
                    collector’s edition of major
                    titles, including Diablo 3, World of Warcraft, Mist of Panderia and StarCraft 2: Heart of the
                    Swarm.
                </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon class="list-icon">flight</mat-icon>
                <p>
                    Innovated several applications for the Digital Media team, that decreased work time and
                    increase efficiency. This not
                    only allowed packages to ship with minimal error but allowed a better workflow within the
                    department.
                </p>
            </mat-list-item>
        </mat-list>
        <h3>Technical Environment</h3>
        <mat-chip-list>
            <mat-chip>Java</mat-chip>
            <mat-chip>Java Swing</mat-chip>
            <mat-chip>Intellji</mat-chip>
            <mat-chip>Subversion</mat-chip>
            <mat-chip>BD-J (Blu-ray Development)</mat-chip>
            <mat-chip>SAX (Simple API for XML)</mat-chip>
            <mat-chip>Document Object Model (DOM)</mat-chip>
            <mat-chip>Apache POI</mat-chip>
            <mat-chip>MVC</mat-chip>
            <mat-chip>XML/XSLT</mat-chip>
        </mat-chip-list>
    </mat-card>

    <mat-card class="resume-content-section">
        <mat-card-title>
            LigoLab Information System | Glendale, California
        </mat-card-title>
        <mat-card-content>
            Java Developer Intern - 2010 to 2011
        </mat-card-content>
        <mat-card-content>
            <p class="job_description">
                Partnered in developing LigoLab-Information Systems, a comprehensive and scalable Laboratory Information
                System
                that helps doctors more quickly receive sample test results and more easily track the sample lifecycle.
                Focused on
                document imaging, specimen tracking and anatomic pathology aspects of the healthcare application.
            </p>
        </mat-card-content>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon class="list-icon">sports_baseball</mat-icon>
                    <p>
                        Gained experience with Java, Swing, the software architecture model view controller and
                        relational databases.
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon class="list-icon">sports_basketball</mat-icon>
                    <p>
                        Responded to client requests to include new specimens / groups by making additions /
                        modifications to the database.
                        Used LigoLab API and implemented changes to the GUI.
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon class="list-icon">sports_golf</mat-icon>
                    <p>
                        Worked with a PDF writer API in order to modify existing implementations of the PDF
                        writer. Handled modification of
                        billing receipts, labels and requisitions documentation of the PDF template implementation.
                    </p>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-content>
            <h3>Technical Environment</h3>
            <mat-chip-list>
                <mat-chip>Java</mat-chip>
                <mat-chip>Intellji</mat-chip>
                <mat-chip>Subversion</mat-chip>
                <mat-chip>Java Swing</mat-chip>
                <mat-chip>Object-relational
                    Mapping</mat-chip>
                <mat-chip>MySQL</mat-chip>
                <mat-chip>Microsoft SQL Server 2005</mat-chip>
                <mat-chip>MVC</mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
    <mat-card class="resume-title-section">
        <mat-card-title>
            Additional Experience
        </mat-card-title>
    </mat-card>
    <mat-card class="resume-content-section">
        <mat-card-title>
            BrianTambara.tk | Los Angeles, California
        </mat-card-title>
        <mat-card-content>
            Web Developer - 2005 to Present
        </mat-card-content>
    </mat-card>

    <mat-card class="resume-content-section">
        <mat-card-title>
            ProjectTinyLibrary.tk | Los Angeles, California
        </mat-card-title>
        <mat-card-content>
            Full Stack Developer - 2018 to 2020
        </mat-card-content>
    </mat-card>
    <mat-card class="resume-title-section">
        <mat-card-title>
            Education
        </mat-card-title>
    </mat-card>
    <mat-card class="resume-content-section">
        <mat-card-title>
            Bachelor of Computer Science | California Polytechnic University | Pomona, California
        </mat-card-title>
        <mat-card-content>
            2009 to 2011
        </mat-card-content>
    </mat-card>
    <mat-card class="resume-content-section">
        <mat-card-title>
            Coursework, Computer Science| Mt. San Antonio College | Walnut, California
        </mat-card-title>
        <mat-card-content>
            2009 to 2011
        </mat-card-content>
    </mat-card>

    <mat-card class="resume-title-section">
        <mat-card-title>
            Affiliations
        </mat-card-title>
    </mat-card>
    <mat-card class="resume-content-section">
        <mat-card-title>
            Member | Computer Science Society, Cal Poly Pomona Section
        </mat-card-title>
        <mat-card-content>
            2009 to 2011
        </mat-card-content>
    </mat-card>
    <mat-card class="resume-content-section">
        <mat-card-title>
            Member | Alpha Gamma Sigma Honors Society, Zeta Chapter
        </mat-card-title>
        <mat-card-content>
            2008 to 2009
        </mat-card-content>
    </mat-card>
    <mat-card class="resume-content-section">
        <mat-card-title>
            Member | Computer Science Society, Mt. San Antonio College Section
        </mat-card-title>
        <mat-card-content>
            2008 to 2009
        </mat-card-content>
    </mat-card>
</div>