<mat-toolbar color="primary">
    <mat-toolbar-row class="thanks">
        <hr><span>Thanks for visiting!</span><hr>
    </mat-toolbar-row>
    <mat-toolbar-row class="make-something">
        <p>Want to make something?</p>
    </mat-toolbar-row>
    <mat-toolbar-row class="contact">
        <button mat-stroked-button color="accent" onclick=" window.location.href='mailto:btambara@gmail.com'">Gmail</button>
        <button mat-stroked-button color="accent" onclick=" window.open('https://www.linkedin.com/in/brian-tambara-a03560129/','_blank')">Linkedin</button>
        <button mat-stroked-button color="accent" onclick=" window.open('https://github.com/btambara','_blank')">Github</button>
    </mat-toolbar-row>
    <mat-toolbar-row class="copyright">
        Developed with Angular 8 | &copy; Brian Tambara 2020
    </mat-toolbar-row>
</mat-toolbar>